
.footer {
	position: relative;
	background: #111;
	color: #fff;
}
.footer {
	padding: 100px 0px;
	font-size: 18px;
}
.footer .container {
	height: auto;
}
.footer p {
  margin: 5px 0px;
}
.footer .email {
  color: #ddd;
  font-size: 15px;
  margin: 0px;
}