@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

body {
  --black: #333;
  --main-step1: #666;
  --main-step2: #999;
  --main-step3: #ccc;
  --white: #fff;
}

html,
body {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.scene {
  position: absolute;
  width: 100%;
  height: 100%;
}

.white,
.black {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.white {
  background: var(--white);
  --color: var(--black);
  --reverse: var(--white);
  --color2: var(--color);
  --reverse2: var(--reverse);
  --step1: var(--main-step1);
  --step2: var(--main-step2);
  --step3: var(--main-step3);
}

.black {
  background: var(--black);
  clip-path: polygon(calc(50% + 40px) 0,
      100% 0,
      100% 100%,
      calc(50% - 40px) 100%);
  --color: var(--white);
  --reverse: var(--black);
  --color2: var(--white);
  --reverse2: var(--black);
}

.reverse {
  --reverse: var(--color2);
  --color: var(--reverse2);
}

/* .circle {
position: absolute;
width: 250px;
height: 250px;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background: var(--color);
border-radius: 50%;
} */

.dot {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.x {
  position: absolute;
  width: 30px;
  height: 30px;
}

.x:before,
.x:after {
  position: absolute;
  content: "";
  width: 80%;
  height: 6px;
  border-radius: 3px;
  background: var(--color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.x:after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.line-circle {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  top: 50px;
  right: 50px;
  transform: rotate(-45deg);
}

.line-circle .circle {
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 8px solid var(--color);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translate(20px, 20px);
}

.line-circle .lines {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.line-circle .line {
  position: relative;
  width: 100%;
  height: 8px;
  border-radius: 4px;
  background: var(--color);
  opacity: 0.7;
  top: 1px;
  margin-bottom: 13.5px;
}

/* .line-circle.middle {
width: 180px;
height: 180px;
top: 60px;
right: 60px;
}
.line-circle.small {
width: 160px;
height: 160px;
top: 70px;
right: 70px;
}
*/

#scene2 {
  font-size: 0;
  position: absolute;
  max-width: 480px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;

  .column {
    position: relative;
    width: 60px;
    height: 60px;
    display: inline-block;
    line-height: 60px;
    font-size: 20px;
    overflow: hidden;
  }
  .column .background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--color);
  }

  .column.number {
    color: var(--reverse);
    font-weight: bold;
    text-align: center;
  }

  .column span {
    position: relative;
  }

  .line {
    position: absolute;
    background: var(--step3);
    will-change: transform;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 4px;
      height: 4px;
      background: var(--step1);
      border-radius: 50%;
    }

    &.vertical {
      height: 110%;
      width: 1px;
      left: 12.5%;
      top: 0;
      transform: translate(-50%);

      &:after {
        top: 100%;
        transform: translate(-50%);
      }
    }

    &.horizontal {
      width: 100%;
      height: 1px;
      left: 0;
      transform: translateY(-50%);

      &:after {
        left: 100%;
        transform: translateY(-50%);
      }
    }
  }
}